@tailwind base;

@tailwind components;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Contentful's UI lib is crazy where it makes some titles in the middle of the page H1's...
h1 {
  @apply font-bold;
}

@import '~contentful-ui-extensions-sdk/dist/cf-extension.css';

@tailwind utilities;
